/* ==================== google font ==================== */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');
/* ======================= VARIABLES CSS ======================= */
:root{

  --body-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --body-color:#FFF;
  --text-color:#333;

  --temp-light-color:#ccc;
  --temp-color:#888;
  --nav-height:9rem;
  /* ============= Font Size ============= */
  --big-font-size: 4rem;
  --h1-font-size: 2.7rem;
  --h2-font-size: 2.5rem;
  --h3-font-size: 2.3rem;
  --normal-font-size: 1.6rem;
  --small-font-size: 1.3rem;
  --smaller-font-size: 1.2rem;

  /* ============= Font weight ============= */
  --font-light:300;
  --font-medium: 500;
  --font-semi-bold: 600;

    /* ============= z index ============= */
    --z-fixed: 100;
    --z-modal: 1000;
}

/* ============= BASE ============= */
*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
html{
  font-size: 10px;
  scroll-behavior: smooth;
}
body{
  width:100%;
  height:100%;
  font-family: var(--body-font);
  background-color: var(--body-color);
  color: var(--text-color);
  font-size: var(--normal-font-size);
  line-height: 1;
  position: relative;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}

.header{
  box-shadow: 0 1px 21px -12px #ccc;
  height:var(--nav-height);
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: var(--z-fixed);
}
.header .nav__container{
  margin:0 auto;
  width:100vw;
  height:var(--nav-height);
  padding-top: calc(var(--nav-height)/2.5);
  display: flex;
  justify-content: space-around;
}
.header .nav__container .header__logo{
  font-size: var(--h2-font-size);
}
.header .menu{
  display: flex;
  justify-content: space-between;
  line-height: inherit;
}
.header .menu li{
  padding-left: 4vw;
}
.header .menu li:hover{
  color: var(--temp-color);
  transition: .2s;
}

.section-home{
  padding-top:var(--nav-height);
  width:100vw;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-home .section-home__greeting{
  margin-right: 15vw;
  display: flex;
  flex-direction: column;
  height:40vh;
  justify-content: space-around;
  align-items: center;
}
.section-home h3{
  font-size: var(--big-font-size);
  text-align: center;
  line-height: 6.5rem;
}
.section-home h3 span{
  font-size:8rem;
}
.section-home a{
  background-color: var(--temp-light-color);
  border:none;
  border-radius: 30px;
  width:20rem;
  height:3rem;
  color:#fff;
  box-shadow: 0 12px 13px -8px rgb(223, 222, 222);
  text-align: center;
  line-height: 3rem;
}
.section-home a:hover{
  transition: 0.2s;
  background-color: var(--temp-color);
}
.section-home img{
  width:40rem;
  height:40rem;
  transform: translateY(-10%);
}

.section-about{
  padding-top:var(--nav-height);
  width:100vw;
  height:100vh;
  display: flex;
  justify-content:center;
  padding-bottom:8rem;
}
.section-about .section-about__container, .section-skills__container{
  width:50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}
.section-about h3{
  font-size: var(--big-font-size);
  margin-bottom: 8rem;
}
.section-about .section-about__container img{
  width:20rem;
  border-radius: 100%;
  margin-bottom: 5rem;
}
.section-about .section-about__container p{
  width:100%;
  /* border:1px dotted black; */
  line-height: 5rem;
  font-size:1.7rem;
  height:25rem;
  text-align: center;
}

.section-about .section-skills__container>div{
  border-radius: 30px;
  width:90%;
  height:49rem;
  padding:2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section-about .section-skills__container p{
  font-size:var(--h2-font-size);
  line-height: 8rem;
  /* margin-bottom: 2rem; */
}
.section-skills__gauge{
  display: block;
  height: 3.5rem;
  border-radius: 30px;
  background-color: var(--temp-color);
}
.section-portfolio{
  padding-top:var(--nav-height);
  width: 100vw;
}
.section-portfolio .section-portfolio__container{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.section-portfolio .section-portfolio__container h3{
  font-size: var(--big-font-size);
  margin-bottom: 5rem;
  margin-top: 5rem;

}

.section-portfolio .section-portfolio__container ul{
  display: flex;
  width:50rem;
  height:5rem;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5rem;

}

.section-portfolio .section-portfolio__container li{
  font-size: var(--h3-font-size);
  cursor: pointer;
}
.section-portfolio .section-portfolio__container li:hover{
  color: #888;
  transition: .3s;
}
.portfolio-wrapper{
  /* width:80%; */
  /* height:40rem; */
  display:grid;
  gap:30px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 5rem;
}

.portfolio-wrapper>div{
  width:30rem;
  height:21rem;
  border:1px solid rgba(141, 141, 141, 0.267);
  /* box-shadow: 5px 5px 15px 0px #ccc; */
  position: relative;
  text-align: center;
  line-height: 2.5rem;
  
}
.portfolio-wrapper>div:hover{
  transition: .4s;
  box-shadow: 5px 5px 15px 0px #ccc;
}

.portfolio-wrapper>div:nth-child(1){
  background:no-repeat url("../img/pf0.png");
  background-size: 30rem;
}
.portfolio-wrapper>div:nth-child(2){
  background:no-repeat url("../img/pf3.png");
  background-size: 30rem 21rem;

}
.portfolio-wrapper>div:nth-child(3){
  background:no-repeat url("../img/pf2.png");
  background-size: 30rem 21rem;
}
.portfolio-wrapper>div:nth-child(4){
  background:no-repeat url("../img/pf1.png");
  background-size: 30rem 21rem;
}
.portfolio-wrapper>div:nth-child(5){
  background:no-repeat url("../img/pf4.png");
  background-size: 30rem 21rem;
}
.portfolio-info{
  background-color: rgba(224, 222, 222, 0.788);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40%;
  cursor: pointer;
  display: none;
  z-index: 1000;
}
.aaa{
  display: block;
}
.section-contact{
  padding-top:var(--nav-height);
}
.section-contact .section-contact__container{
  width: 100vw;
  height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button__top{
  width:60px;
  height:60px;
  border-radius: 50px;
  text-align: center;
  line-height: 50px;
  border: 1px solid var(--temp-color);
  font-size: 12px;
  position:fixed;
  bottom:35px;
  right: 30px;
  z-index: 999999;
}
.button__top:hover{
  background-color: var(--temp-light-color);
  transition: .3s;
}
.button__arrow{
  display: block;
  border-top: 2px solid var(--temp-color);
  border-left: 2px solid var(--temp-color);
  width:12px;
  height:12px;
  position: absolute;
  top: 45%;
  left: 40%;
  transform: rotate(45deg);
}
.button__hidden{
  display: none;
}